{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12 heading">
    <h1>Dashboard</h1>
    <p>Here lies the data for your region</p>
    <div class="row dash" style="min-height:400px">
      <div class="row">


      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="min-height: 300">
        <h3>Temperature</h3>

        <canvas id="temperature" height="300"></canvas>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="min-height: 300">
        <h3>Pressure</h3>
        <canvas id="pressure" height="300"></canvas>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="min-height: 300">
        <h3>Humidity</h3>
        <canvas id="humidity" height="300"></canvas>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="min-height: 300">
        <h3>CO2</h3>
        <canvas id="co2" height="300"></canvas>
      </div>
    </div>

    </div>

    <div class="row">
      <iframe class="col-xs-12 col-sm-12 col-md-12 col-lg-12" height="400" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/view?zoom=7&center=60.2734%2C5.7220&key=AIzaSyACIZPD7h_HZZu3dfifzYCLPlduCFFCgps"
      allowfullscreen></iframe>
    </div>
  </div>
</div>
<script type="text/javascript">
    var tempdata = {{temperature}};
    var presdata = {{pressure}};
    var humdata = {{humidity}};
    var co2data = {{co2}};
    console.log(tempdata);
</script>
<script type="text/javascript" src="static/js/dashboard-charts.js"></script>
{% endblock %}
